* {
    margin: 0;
}

#container-perfil {
    height: 50vh;
    width: 100vw;
    margin-bottom: 2vh;
}


#container-imagens-perfil {
    height: 80%;
    width: 100%;
}


#capa-perfil {
    height: 80%;
    width: 100%;
    background-image: url("../../assets/bg-perfil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

#foto-perfil {
    background-image: url("../../assets/foto-perfil.jpeg");
    background-size: cover;
    height: 150px;
    width: 150px;
    border: solid whitesmoke;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#container-titulos {
    margin-top: 1vh;
    margin-bottom: 3vh;
}

#perfil-nome {
    font-size: 5vh;
    font-weight: 600;
    margin-bottom: 0;
}

#perfil-cargo {
    font-size: 3vh;
    font-weight: 200;
}

#container-sobre-mim {
    height: 30vh;
    width: 100vw;
    text-align: justify;
}

#titulo-sobre-min {
    font-size: 2vh;
}

#texto-sobre-mim {
    height: 100%;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#texto-sobre-mim p {
    margin-bottom: 3vh;
    width: 80%;
}

#container-skill {
    height: 60vh;
    width: 100vw;
}

#container-perfil-skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 100vw;
}

#titulo-skill {
    font-size: 2vh;
}

#contaier-skill {
    height: 80%;
    width: 90%;
}

.container-detalhe-skil {
    margin-left: 2vw;
    margin-bottom: 1vh;
    height: 5vh;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.container-detalhe-skil:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.06) 0px 2px 3px 0px;
}

.titulo {
    width: 10%;
    padding: 1vh;
    font-weight: 800;
}

.descricao {
    font-weight: 400;
}

